.logo {
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://wallpapercave.com/wp/UzCIMvJ.jpg);
    background-size: cover;
}
nav a {
    border-style: solid;
    border-width: 2px;
    
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body #home-page {
    background-color: #fdd000;
    background-size: 
}

body #our-profile-page {
    background-color: #0055a4 ;
    background-size: cover;
}

body #portfolio-page {
    background-color:#d80400;
} 

footer {
    background-color: #0b0e14;
    color: white;
}